:root {
    --mc: #143A62;
    --wc: #ffffff;
}

* {
    outline: 1px solid tomato--;
}

/* ================ */



/* header */
.header {
    position: sticky;
    top: 0;
    background: var(--wc);
    z-index: 999;
}

.header .header_wrap {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 15px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;

    transition: 0.5s;
}

.header.on {
    border-bottom: 1px solid #ddd;
}


.header.on .header_wrap {
    height: 70px;
}

.header .logo {
    font-size: 0;
}

.header .gnb {
    margin: 0 0 0 auto;
}

.header .gnb>ul {
    display: flex;
    gap: 40px;
}

.header .gnb>ul>li {
    position: relative;

    white-space: nowrap;
    word-break: keep-all;

    line-height: 30px;
}

.header .gnb>ul>li>a {
    /* outline: 1px solid tomato; */

    display: block;
    line-height: 100px;
    font-size: 18px;
}

.header .gnb>ul>li>a i {
    color: #ddd;
}

.header .gnb>ul>li>.sub {
    position: absolute;
    top: 80px;
    left: -30px;
    white-space: nowrap;
    background: var(--wc);
    padding: 30px 30px;
    outline: 2px solid var(--mc);

    display: none;
}

.header .gnb>ul>li:hover>.sub {
    display: block;
}

.header .gnb>ul>li>.sub a {
    display: block;
    font-size: 16px;
    line-height: 30px;
}

.header .search {
    margin: 0 0 0 50px;
}

.header .search input[type="text"] {
    border: none;
    outline: none;
    width: 100px;
    border-bottom: 1px solid #666;

    font-size: 14px;
    font-family: 'Noto Sans KR';

    transition: 0.5s;
}

.header .search input[type="text"]:focus {
    width: 160px;
}

.header .search input[type="text"]::placeholder {
    color: #ddd;
}

.header .search input[type="text"]:focus::placeholder {
    color: transparent;
}

.header .search button {
    border: none;
    outline: none;
    background: transparent;

    font-size: 30px;
    vertical-align: middle;
}



/* main_vusual */
.main_visual {
    position: relative;
    z-index: 1;
    overflow: hidden;
}

.main_visual::after {
    content: "";
    position: absolute;
    inset: 0 0 0 0;
    background: rgba(0, 0, 0, 0.35);
}

.main_visual .main_slide .itm01 {
    height: calc(100vh - 100px);
    background: url(../images/main_01.png) no-repeat center center/cover;
}

.main_visual .main_slide .itm02 {
    height: calc(100vh - 100px);
    background: url(../images/main_02.jpg) no-repeat center center/cover;
}

.main_visual .main_slide .itm03 {
    height: calc(100vh - 100px);
    background: url(../images/main_03.jpg) no-repeat center center/cover;
}

.main_visual .slogan {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
}

.main_visual h2 {
    margin: 0 0 30px 0;
    color: #fff;
    text-align: center;
    text-shadow: 0 0 3px #000;
}

.main_visual h2 strong {
    display: block;
    margin: 0 0 20px 0;
    font-size: 20px;
    font-weight: 100;
}

.main_visual h2 span {
    display: block;
    font-size: 60px;
    font-weight: 700;
    line-height: 1.2;
}

.main_visual p {
    max-width: 578px;
    margin: 0 auto;
    text-shadow: 0 0 3px #000;
    font-size: 15px;
    color: #fff;
    text-align: center;
}

.main_visual .slick-dots {
    position: absolute;
    bottom: 200px;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
}

.main_visual .slick-dots>li {
    display: inline-block;
    padding: 5px 0;
    cursor: pointer;

    font-size: 0;
}

.main_visual .slick-dots>li button {
    border: none;
    outline: none;

    position: relative;
    background: var(--mc);

    width: 15px;
    height: 15px;
    margin: 0 3px;
}

.main_visual .slick-dots>li.slick-active button {
    background: var(--wc);
}

.main_visual .scr {
    position: absolute;
    left: 50%;
    bottom: 60px;
    transform: translate(-50%, -50%);
    padding: 0 15px;

    z-index: 1000;
}

.main_visual .scr::before {
    content: "";
    position: absolute;

    top: 0;
    left: 50%;
    width: 24px;
    height: 24px;
    margin-left: -12px;
    border-left: 2px solid #fff;
    border-bottom: 2px solid #fff;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}


/* main_section */
.main_content .content_top {
    display: grid;
    grid-template-columns: 1fr 3fr;
}

.main_content .content_top .title {
    background: var(--mc);
    border-radius: 30px 0 30px 0;
}

.main_content .content_top .title h2 {
    font-size: 30px;
    font-weight: 700;

    color: var(--wc);
    padding: 35px 32px;
}

.main_content .content_top .info {


    height: 220px;
    padding: 30px 20px;

    display: flex;
    gap: 30px;
}

.main_content .content_top .news_pic {
    overflow: hidden;
    width: 100%;
}

.main_content .content_top .info .news_text strong {
    display: block;
    font-size: 20px;
    font-weight: 600;
    color: var(--mc);

    margin: 0 0 20px 0;
}

.main_content .content_top .info .news_text strong a {
    display: inline-block;
    margin: 0 0 0 399px;
}

.main_content .content_top .info .news_text p {
    display: inline-block;
    word-break: break-all;
    font-size: 16px;
    line-height: 24px;

    margin: 0 0 5px 0;
}

.main_content .content_top .info .news_text .point {
    font-size: 18px;
    font-weight: 500;
}


.main_content .content_top .info .news_text span {
    font-size: 14px;
}


.main_content .content_bottom {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.main_content .content_bottom .notice,
.main_content .content_bottom .issue {
    border-top: 1px solid #ddd;


    height: 220px;
    padding: 20px 30px;
}

.main_content .content_bottom .notice {
    border-right: 1px dotted #ddd;
}

.main_content .content_bottom .notice strong,
.main_content .content_bottom .issue strong {
    display: block;
    font-size: 20px;
    font-weight: 600;
    color: var(--mc);

    margin: 0 0 15px 0;
}

.main_content .content_bottom .notice strong a {
    display: inline-block;
    margin: 0 0 0 430px;
}

.main_content .content_bottom .issue strong a {
    display: inline-block;
    margin: 0 0 0 431px;
}

.main_content .content_bottom .notice p,
.main_content .content_bottom .issue p {
    display: inline-block;
    word-break: break-all;
    font-size: 16px;
    line-height: 24px;

    margin: 0 0 5px 0;
}

.main_content .content_bottom .notice span,
.main_content .content_bottom .issue span {
    display: block;
    font-size: 14px;
    margin: 0 0 5px 0;
}


/* main banner */
.main_banner .vbox {
    position: relative;

    width: 100%;
    height: 500px;

    overflow: hidden;
    object-fit: cover;

    background: var(--mc);
    border-radius: 0 50px 0 0;
}

.main_banner .vtxt {
    position: absolute;
    top: 50%;
    left: 156px;

    color: var(--wc);
}

.main_banner .vtxt span {
    position: relative;
    display: block;
    font-size: 30px;
    font-weight: 300;
    white-space: nowrap;
    color: #333;
}

.main_banner .vtxt span::before {
    content: "Peace, dignity and equality on a healthy planet";
    position: absolute;
    top: 0;
    left: 0;
    color: var(--wc);

    width: 100%;
    height: 100%;

    white-space: nowrap;
    overflow: hidden;

    border-right: 1px solid #999;

    animation: txt_ani 5s infinite steps(32);
}


@keyframes txt_ani {
    0% {
        width: 0;
    }

    50% {
        width: 100%;
    }

    100% {
        width: 0;
    }
}

.main_banner .vtxt strong {
    display: block;
    position: absolute;
    left: 879px;
    bottom: -28%;
    width: 800px;

    font-size: 50px;
    font-weight: 700;
    text-align: justify;
    line-height: 1.2;
}

.main_banner .vtxt strong::after {
    content: "대한민국은 유엔의 커다란 수혜자입니다. 한반도와 관련한 유엔의 역사와 함께 저희 유엔한국협회의 역사가 있습니다. 이를 바탕으로 우리 협회는 국제평화유지, 인권 보호, 개발협력 등 유엔이 지향하는 목적을 달성하는 노력에 민간부문에서 적극 동참하고 있습니다. ";
    position: absolute;
    display: block;
    box-sizing: border-box;

    font-size: 16px;
    font-weight: 300;

    margin-top: 20px;
}



/* main event */
.main_event .title {
    margin: 0 auto 20px auto;
}

.main_event .title h2 {
    font-size: 30px;
    font-weight: 700;
    margin: 0 0 10px 0;
    color: var(--mc);
}

.main_event .title p {
    font-size: 15px;
}

.main_event .conf_box {
    display: flex;
}

.main_event .conf_box>* {
    flex: 1;
}

.main_event .right {
    background: #f9f9f9;
    padding: 40px 55px;
    border-radius: 0 0 50px 0;
}

.main_event .right h3 {
    font-size: 20px;
    font-weight: 600;
    color: var(--mc);
    margin: 0 0 20px 15px;
    width: 300px;
}

.main_event .right .list {
    width: 480px;
}

.main_event .right .list>* {
    display: grid;
    grid-template-columns: 100px 1fr;
    margin: 0 0 15px 0;
    line-height: 1.6;
}

.main_event .right .list>li strong {
    display: block;
    text-align: center;
    background: var(--mc);
    color: var(--wc);
    border-radius: 2px;
}

.main_event .right .list>li p {
    display: inline-block;
    margin: 0 0 0 10px;
    line-height: 27px;
}

.main_event .desc {
    line-height: 1.2;
    text-align: justify;
    width: 480px;
}



/* footer */
.footer {
    background: #444;
    color: var(--wc);
    padding: 30px 0;
    text-align: left;
}

.footer address {
    margin: 0 0 10px 0;
    font-style: normal;
    font-size: 15px;
    font-weight: 400;
}

.footer .footer_customer {
    margin: 0 0 10px 0;
    padding: 0 0 10px 0;
    font-size: 0;
}

.footer .footer_customer li {
    display: inline-block;
    font-size: 15px;
    font-weight: 400;
}

.footer .footer_customer li~li::before {
    content: "";
    display: inline-block;
    width: 1px;
    height: 11px;
    background: #ccc;
    margin: 0 10px;
}

.footer .family_link {
    position: relative;
}

.footer .family_link span {
    display: block;
    width: 150px;
    line-height: 30px;
    padding: 0 15px;

    border: 1px solid #ddd;
    background: #333;
    color: #fff;

    user-select: none;
    cursor: pointer;
}

.footer .family_link span i {
    float: right;
    line-height: 30px;
}

.footer .family_link span.on i {
    transform: rotate(180deg);
}

.footer .family_link .flink {
    position: absolute;
    right: 0;
    bottom: 20px;
}

.footer .family_link .flink ul {
    position: absolute;
    bottom: 31px;
    left: 0;
    right: 0;
    background: #333;
    color: #fff;
    border: 1px solid #ddd;

    display: none;
    flex-direction: column;
    align-items: stretch;
}

.footer .family_link .flink ul>li {
    padding: 8px 10px;
}

.footer .family_link .flink ul>li:not(:nth-child(3)) {
    border-bottom: 1px solid #ddd;
}

.footer .family_link .flink ul.on {
    display: flex;
}


.footer .copy {
    border-top: 1px solid #666;
    padding: 20px 0 0 0;

    font-size: 12px;
    font-weight: 300;
    text-align: center;
}



.to_top {
    position: fixed;
    bottom: 0;
    right: 200px;
    width: 48px;
    height: 48px;
    line-height: 48px;
}

.to_top i {
    background: #333;
    color: #fff;
    font-size: 24px;
    padding: 10px;
    cursor: pointer;
    text-align: center;
    opacity: 0.6;
    filter: alpha(opacity=80);
}